*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


h1{
    font-size: 52px;
}

h2{
    font-size: 28px;
}


.grid__body{
    display: grid;
    grid-template-columns: minmax(25%, auto) minmax(50%, auto) minmax(25%, auto);
    grid-template-rows: minmax(165px, auto) 1fr minmax(165px, auto);
    grid-template-areas: "header header grid__item_2"
                         "nav grid__central_item  grid__item_2"
                         "footer footer footer";
    max-width: 100%;
    min-height: 100vh;
}


@media (max-width: 767px) {


    .grid__body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr ,1fr;
        grid-template-areas: "header "
                             "nav"
                             "grid__item_2"
                             "grid__central_item"                   
                             "footer";
        max-width: none;
        align-items: none !important;

    }

    
    .header{
        
        grid-template-columns: 1fr !important;  
        grid-template-rows: 1fr 1fr !important;
        padding: 10px 20px !important;
        padding-right: 35px !important; 
        justify-items: start;
    }

    .header__title{
        margin-left: 0 !important;
    }

    .header__quote{  
        font-size: 14px!important;
        padding: 5px 0px!important;
        width: 150px;
    }

    .quote__text{
        margin-bottom: 10px !important;
    }

    .grid__item_2{
        padding-top:20px!important;
    }
    

    .nav{
        padding-top: 20px!important;
    }

    .nav__title{
        margin-top: 0px!important;
    }

    .footer{
        padding: 0 0px 0 5px !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr auto;
        grid-template-areas: "cols"
                             "title";
    }  

    .footer__text{
        padding-right: 0px !important;
        grid-area: "cols";
        column-gap: 0px !important;
        justify-items: center!important;
    }

    .footer__header h2{
        margin: 20px 0px 40px 0px!important;
        
    }

    .footer__header{
        grid-area: "title";
        text-align: center;

    }
    
    
}

@media(max-width: 420px) {
    .grid__item_5 p{
        font-size: 16px !important;
        padding:  10px 10px 10px 20px!important;

    }

    .footer__text{
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 1fr 1fr !important;
        grid-template-areas: "col1 col2"
                             "col3 col3" !important;
        padding-bottom: 0px !important;
    }           

    .footer__col_1{
        grid-area: col1;
    }

    .footer__col_2{
        grid-area: col2;
    }

    .footer__col_3{
        grid-area: col3;
        margin-top: 10px;
    }
}

.header{
    background: rgb(15, 157, 218);
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 1fr;  
    padding: 10px 20px;
    padding-right: 35px;   
}

.header__title{
    margin-left: 20px;
}

.header__quote{
    text-align: center;
    font-size: 16px;
    padding: 5px;
    padding-left:20px ;
}

.quote__text{
    margin-bottom: 20px;
}


.grid__item_2{
    background: lightgreen;
    grid-area: grid__item_2;
    padding: 30px;
    display: grid;
    grid-template-rows: minmax(300px, 2fr), minmax(150px, 1fr); 
}

.grid__item_2_1{
    margin-bottom: 15px;
}

.grid__item_2_1 p{
    font-size: 20px;
    margin-top: 10px;
}

.grid__item_2_2 ol{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
}

.nav{
    background: rgb(244, 181, 157);
    padding: 30px;
    grid-area: nav;
}

.nav__title{
   margin-top: 30px;
   margin-bottom: 20px;
   text-align: center;
}

.nav__list{
    font-size: 24px;
    margin-left: 30px;;
}

.nav__list li{
    padding-bottom: 5px;
}

.nav__list a{
    text-decoration: none;
    color: black;
    transition: all 0.15s;
}

a:hover
{
    opacity: 0.3;
}

.grid__central_item{
    display: grid;   
    grid-area:grid__central_item ;
    grid-template-rows: minmax(36px, auto) 1fr;
}


.grid__item_4{
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 36px;

}

.grid__item_5{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(137, 134, 137);
    color: white;
}

.grid__item_5 p{
    font-size: 20px;
    text-align: center;
    padding: 20px;
}


.landscape{
    display: grid;
    grid-template-rows: auto minmax(50px, auto) 1fr;
}


.picture__container img{
    width: 100%;
}


.footer{
    background-color: rgb(15, 157, 218);
    grid-area: footer;
    padding: 0px 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    
}

.footer__text{
    padding: 20px;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;

}

.footer__col_head{
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 500;
    color:black;   

}

.footer li{
    margin-bottom: 7px;
    list-style-type: circle;
    color:black;   
}


.footer__header h2{
    margin: 40px 0 40px 70px;
    font-size: 52px;
}
